@import "tailwindcss";

@theme {
    --font-display: "JetBrains Mono", "sans-serif";

    --color-custom-gray: #676767;
    --color-custom-gray-light: #b7b7b7;
}

@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;

    }
}

body{
    background: #0c0c0c;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #0c0c0c 70%,
            transparent 100%
    );


}@utility hero-radial-gradient {
    background: radial-gradient(
            circle at center,
            #2b2a2a 0%,
            #0c0c0c 45%,
            transparent 100%
    );
}

/* Rimuove le dimensioni predefinite del picker */
.react-colorful {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0.75rem;
}

.react-colorful__saturation,
.react-colorful__hue {
    border-radius: 0.5rem;
}

.react-colorful__hue {
    margin-top: 0.75rem;
}

.react-colorful__pointer {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    box-shadow: 0 0 0 1px #000;
}